body {
    background-image: url('./assets/background.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    backgrounds-size: cover;
}

h1, h2, h3, .tel, .slogan {
    text-align: center;
}

.storename {
    font-family: "fantasy",sans-ser;
    text-decoration: underline;
    font-style:italic;
    text-align: center;
    color: lightpurple;
}

.addresshours {
    display: inline-block;
}